name: Build and Push Client Image

on:
  workflow_dispatch:
    inputs:
      client_id:
        description: 'ID Cliente'
        required: true
      tag:
        description: 'Versione (es. latest, 1.0.0)'
        default: 'latest'

env:
  REGISTRY: ghcr.io
  # Il nome dell'immagine deve essere tutto minuscolo
  IMAGE_NAME: ${{ github.repository_owner }}/bixengine

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          # Taggiamo l'immagine per il cliente specifico
          tags: |
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-${{ github.event.inputs.client_id }}:${{ github.event.inputs.tag }}
            ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}-${{ github.event.inputs.client_id }}:latest